body {
    font-family: "Verdana", sans-serif;
    background-color: rgb(233, 235, 236);
    box-sizing: border-box;
    background-image: url(images/background.avif);
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
}

h2 {
    color: rgb(206, 147, 37)
}

img {
    display: block;
    margin:auto;
}

.page_head {
    background-color: rgb(206, 147, 37);
    margin: -10px;
    padding: 20px;
}


.container {
    width: 50%;
    min-height: 700px;
    margin: 40px auto;
    background: rgb(245, 235, 235);
    padding: 40px;
    position: relative;
}

#recipe-container{
    text-align: center;
}

#recipe-container > ul {
    list-style-type: none;
    width: 50%;
    margin:auto;
    padding: 5px;
    padding-left: 15px;
}

.background_image{
    position: absolute;
    left: 50%;
    margin-left: -256px;
}



